asgiref
certifi
cffi
charset-normalizer
cryptography
Django
django-cors-headers
django-dajax
django-dajaxice
django-environ
django-extensions
idna
MarkupSafe
Pillow
psycopg
psycopg2
pycparser
pyOpenSSL
python-dotenv
requests
sqlparse
typing_extensions
tzdata
urllib3
Werkzeug
