<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>User Pick Identity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'templates_includes/active_includes/active_header.html' %}
  <main id="main">
     <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h4>Pick what identifies you.</h4>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Creating Tomorrow, Today</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->


    <div class="container py-5">
      <div class="row justify-content-center align-items-center pb-5">
          <div class="col-md-4">
              <a href="student-registration.html" class="card m-3" style="text-decoration: none;">
                  <div class="card-body shadow-lg">
                    <h5 class="card-title d-flex justify-content-between align-items-center" style="color: black;">
                      <span>Student</span>
                      <i class="bi bi-person"></i>
                  </h5> 
                  <hr>                 
                      <p class="card-text" style="color: black;">Choose this option if you are a student.</p>
                  </div>
              </a>
          </div>
          <div class="col-md-4">
              <a href="graduate-registration.html" class="card m-3" style="text-decoration: none;">
                  <div class="card-body shadow-lg">
                    <h5 class="card-title d-flex justify-content-between align-items-center" style="color: black;">
                      <span>Graduate</span>
                      <i class="bi bi-award"></i> <!-- You can use the "bi-award" icon for graduate -->
                  </h5>  
                  <hr>                
                      <p class="card-text" style="color: black;">Choose this option if you are a graduate.</p>
                  </div>
              </a>
          </div>
          <div class="col-md-4">
              <a href="other-registration.html" class="card m-3" style="text-decoration: none;">
                  <div class="card-body shadow-lg">
                    <h5 class="card-title d-flex justify-content-between align-items-center" style="color: black;">
                      <span>Other</span>
                      <i class="bi bi-forward"></i> <!-- You can use the "bi bi-forward" icon for "Other" -->
                  </h5>  
                  <hr>                
                      <p class="card-text" style="color: black;">Choose this option if you don't fit into the above categories.</p>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="pt-5" style="height: 300px;"><!--Do not delete this division--></div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'templates_includes/active_includes/active_footer.html' %}