{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>404 page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'templates_includes/active_includes/active_header.html' %}



  <main id="main">
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <h1><strong>404 error page</strong></h1>
        </div>
      </div>
    </section>

  </main>

  {% include 'templates_includes/active_includes/active_footer.html' %}