{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>User verification</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% include 'templates_includes/normal_includes/normal_header.html' %}

    <main id="main">
      <!-- ======= Breadcrumbs Section ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex align-items-center justify-content-center">
            <h1><strong>Reset Password</strong></h1>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs Section -->

      <!--Login form and logo template-->
      <section class="inner-page">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <!-- Forgot Password Form Section -->
              <form method="post">
                {% csrf_token %} 
                <!-- Verify Message Section -->
                {% include 'templates_includes/verify_msg.html' %}
                <!-- End Verify Message Section -->
                <div class="mb-3">
                  <label for="username" class="form-label">UserName<sup><span
                    style="font-size: 10px; color: red">&#9733;</span></sup></label>
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    id="username"
                    placeholder="Enter your username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="oldPassword" class="form-label">Old Password<sup><span
                    style="font-size: 10px; color: red">&#9733;</span></sup></label>
                  <input
                    type="password"
                    name="oldPassword"
                    class="form-control"
                    id="oldPassword"
                    placeholder="Enter your old password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="newPassword" class="form-label">New Password<sup><span
                    style="font-size: 10px; color: red">&#9733;</span></sup></label>
                  <input
                    type="password"
                    name="newPassword"
                    class="form-control"
                    id="newPassword"
                    placeholder="Enter your new password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirm Password<sup><span
                    style="font-size: 10px; color: red">&#9733;</span></sup></label>
                  <input
                    type="password"
                    name="confirmPassword"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Enter your new password again"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary">
                  {% if messages %} Resend verification
                  {% else %} Send verification
                  {% endif %}
                </button>

              </form>
            </div>
          </div>
        </div>
      </section>

      <!--login form and logo template ends here-->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include 'templates_includes/normal_includes/normal_footer.html' %}